.initial-screen {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	background-image: url('../img/bg1.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	padding: 150px 150px 0;
	h2 {
		font-family: $b;
		text-transform: uppercase;
		color: #9D8F5F;
		font-size: 50px;
		text-align: right;
	}
	&__slider {
		display: block;
		float: left;
		position: relative;
		width: 100%;
		height: 630px;
		z-index: 99;
		.grid {
		  position: absolute;
		  left: 0;
		  top: 0;
		  bottom: 0;
		  right: 0;
		  width: 100%;
		  /*3D Transform*/
		  //transform: rotateX(60deg) rotateZ(-50deg);
		  /*Preserve 3D style for children*/
		  transform-style: preserve-3d;
		}

		// .grid li {
		//   height: 400px;
		//   width: 225px;
		//   float: left;
		//   margin: 20px;
		//   list-style-type: none;
		//   /*Hide the lighting gradient from the front face*/
		//   background-size: 0, cover;
		//   /*Preserve 3D style for children(pseudo elements)*/
		//   transform-style: preserve-3d;
		// }

		/*Left and Bottom Sides*/
		.grid li:before,
		.grid li:after {
		  content: '';
		  position: absolute;
		  /*100% height and width*/
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background: inherit;
		  background-size: cover;
		}

		/*Left Side*/
		.grid li:before {
		  transform-origin: left center;
		  transform: rotateY(90deg);
		  /*Reducing the width of the left side for a flat feel*/
		  width: 5px;
		}

		/*Bottom Side*/
		.grid li:after {
		  transform-origin: bottom center;
		  transform: rotateX(90deg);
		  /*Reducing the height*/
		  height: 5px;
		  top: auto;
		  bottom: 0;
		  /*Background fix - start the background from the bottom*/
		  background-position: bottom center;
		}

		/*Shadow time - sadly all pseudo elements are used so we will have to add an HTML element in each LI*/
		.s {
		  position: absolute;
		  /*30px smaller from each side*/
		  top: 30px;
		  left: 30px;
		  right: 30px;
		  bottom: 30px;
		  background: rgba(0, 0, 0, 0.5);
		  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
		  /*Pushing down the shadow to give an elevated feel*/
		  transform: translateZ(-50px);
		}

		/*We will add a light gradient to the sides to give some lighting effect*/
		.one {
			height: 189px;
			position: absolute;
			width: 300px;
			float: left;
			left: 79px;
			top: 323px;
			transform-origin: 0%;
			-webkit-transform: perspective(3008px) rotateX(18deg) rotateY(8deg) rotateZ(-21deg) skewX(12deg);
			   -moz-transform: perspective(3008px) rotateX(18deg) rotateY(8deg) rotateZ(-21deg) skewX(12deg);
			    -ms-transform: perspective(3008px) rotateX(18deg) rotateY(8deg) rotateZ(-21deg) skewX(12deg);
			     -o-transform: perspective(3008px) rotateX(18deg) rotateY(8deg) rotateZ(-21deg) skewX(12deg);
			        transform: perspective(3008px) rotateX(18deg) rotateY(8deg) rotateZ(-21deg) skewX(12deg);
			/* transform: rotateX(46deg) rotateZ(-25deg); */
		  background: url("../img/alterus.jpg");
		  -webkit-background-size: contain;
		       -o-background-size: contain;
		          background-size: contain;
		}

		.two {
			height: 250px;
		  width: 320px;
		  float: left;
		  left: 150px;
			top: 190px;
		  list-style-type: none;
		  /*Hide the lighting gradient from the front face*/
		  background-size: 0, cover;
		  -webkit-transform: perspective(3008px) rotateX(19deg) rotateY(23deg) rotateZ(-22deg);
			   -moz-transform: perspective(3008px) rotateX(19deg) rotateY(23deg) rotateZ(-22deg);
			    -ms-transform: perspective(3008px) rotateX(19deg) rotateY(23deg) rotateZ(-22deg);
			     -o-transform: perspective(3008px) rotateX(19deg) rotateY(23deg) rotateZ(-22deg);
			        transform: perspective(3008px) rotateX(19deg) rotateY(23deg) rotateZ(-22deg);
		  /*Preserve 3D style for children(pseudo elements)*/
		  transform-style: preserve-3d;
			position: absolute;
		  background:  url("../img/skalolazy.jpg");
		  -webkit-background-size: contain;
		       -o-background-size: contain;
		          background-size: contain;
		}

		.three {
			height: 285px;
		  width: 370px;
		  float: left;
	     left: 300px;
    	top: 80px;
		  list-style-type: none;
		  /*Hide the lighting gradient from the front face*/
		  
		  -webkit-transform: perspective(3008px) rotateX(23deg) rotateY(19deg) rotateZ(-14deg);
			   -moz-transform: perspective(3008px) rotateX(23deg) rotateY(19deg) rotateZ(-14deg);
			    -ms-transform: perspective(3008px) rotateX(23deg) rotateY(19deg) rotateZ(-14deg);
			     -o-transform: perspective(3008px) rotateX(23deg) rotateY(19deg) rotateZ(-14deg);
			        transform: perspective(3008px) rotateX(23deg) rotateY(19deg) rotateZ(-14deg);
		  /*Preserve 3D style for children(pseudo elements)*/
		  transform-style: preserve-3d;
			position: absolute;
		  background: url("../img/generator.jpg");
		  -webkit-background-size: contain;
		       -o-background-size: contain;
		          background-size: contain;
		}

		.four {
			right: 35px;
			top: 105px;
			background: url("../img/kurzova.jpg");
			-webkit-background-size: contain;
			-o-background-size: contain;
			background-size: contain;
			list-style-type: none;
		  	/*Hide the lighting gradient from the front face*/		  
			  -webkit-transform: perspective(3008px) rotateX(28deg) rotateY(27deg) rotateZ(-21deg);
				   -moz-transform: perspective(3008px) rotateX(28deg) rotateY(27deg) rotateZ(-21deg);
				    -ms-transform: perspective(3008px) rotateX(28deg) rotateY(27deg) rotateZ(-21deg);
				     -o-transform: perspective(3008px) rotateX(28deg) rotateY(27deg) rotateZ(-21deg);
				        transform: perspective(3008px) rotateX(28deg) rotateY(27deg) rotateZ(-21deg);
		  	/*Preserve 3D style for children(pseudo elements)*/
		  	transform-style: preserve-3d;
			position: absolute;
			height: 325px;
			width: 490px;
		}
	}
	&--macbook {
		display: block;
		position: absolute;
		bottom: 0;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 470px;
		left: 0;
		bottom: -190px;
		background-image: url('../img/heometry.png');
		background-repeat: no-repeat;
		background-position: 50% 0;
		z-index: 9;
		
	}
}

.infografics {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	padding: 250px 0;
	background-color: #000;
	z-index: 2;
	&:after {
		content: '';
		width: 100%;
		left: 0;
		height: 290px;
		position: absolute;
		z-index: 9;
		background-image: url('../img/polygon-gray-1.png');
		background-repeat: no-repeat;
		bottom: -120px;
	}
}

