body {
	font-family: $m;
}

 html, body {
    //height: 100%;
    background-color: #E7E7E8;
}

a {
	text-decoration: none;
	&:hover, &:focus, &:active{
		outline: none;
	}
}

ul {
	list-style-type: none;
}

.block_title {
	color: #fff;
    font-size: 3.5em;
	text-align: center;
	margin-top: 15px;	
}

.p0  {
	padding: 0;
}

.align-left {
	text-align: left;
}
.align-right {
	text-align: right;
}

.container-wrap {
	@include inside-pad;
    width: 1340px;
    margin: 0 auto;
}

@media (max-width: 1200px) {
  .container-wrap {
    width: 100%;
  }
}





