.md-imac {
  font-size: .54em;
  margin: 0 auto;
  .md-foot {
    position: relative;
    &:after {
      content: "";
      width: 50px;
      height: 1px;
      position: absolute;
      bottom: 0;
      -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,.3);
              box-shadow: 0px 10px 10px 0px rgba(0,0,0,.3);
    }
  }
}

