.md-imac {
  font-size: .54em;
  margin: 0 auto;
  position: relative;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 100%;
    height: 1px;
    background-image: url("../img/basicShadowImageUrl.png");
    opacity: .2;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -o-background-size: covern;
    background-size: cover;
    z-index: -1;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -110px;
    right: -70px;
    width: 100%;
    background-image: url('../img/Landing_39_kements-11.png');
    background-repeat: no-repeat;
    -webkit-background-size: contain;
         -o-background-size: contain;
            background-size: contain;
    height: 150px;
  }
  .md-body{
    position: relative;   
  }
  .md-screen {
    padding: 5px;
    -ms-overflow-y: scroll;
        overflow-y: scroll;
    h2 {
      font: bold 300% Consolas, Monaco, monospace;
       color: lime; 
      margin: 0;
    }
    h3 {
      color: lime; 
      font-family: "Courier";
      font-size: 12px;
      margin: 0;
}

// h3:nth-child(2){
//   animation: type2 8s steps(60, end);
//    -webkit-animation-delay: 10s;
//     -moz-animation-delay: 10s;
//     -o-animation-delay: 10s;
//     animation-delay: 10s;
// }
    }
  
  .md-foot {
    position: relative;
    &:after {
      content: "";
      width: 50px;
      height: 1px;
      position: absolute;
      bottom: 0;
      -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,.3);
              box-shadow: 0px 10px 10px 0px rgba(0,0,0,.3);
    }
  }
}

// @keyframes type{ 
//   from { width: 0; } 
// } 

// @keyframes type2{
//   0%{width: 0;}
//   50%{width: 0;}
//   100%{ width: 100; } 
// } 

// @keyframes blink{
//   to{opacity: .0;}
// }

// ::selection{
//   background: black;
// }


// @-webkit-keyframes typing { from { width: 0; } }
// @-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.console
{
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  
  color: lime;
  font-size: 20px;
}

span#caption {
  color: lime;
}
#user-caption {
  display: none;
}

